@use '@/assets/utilities.scss' as *;

.labelHiddenAtMobile {
	@include mobile {
		display: none;
	}
}

.button {
	width: max-content;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	&:disabled {
		cursor: not-allowed;
	}
}

.deleteButton {
	@include tablet {
		z-index: 1;
		position: fixed;
		bottom: 2.4rem;
		left: 50%;
		width: 72rem;
		height: 5.6rem;
		transform: translate(-50%, 0);
	}

	@include mobile {
		width: 32rem;
	}

	&:hover {
		background: $color_purple_700;
	}
}

.primary {
	background-color: $color_purple_600;
	color: $color_white;

	&:disabled {
		background-color: $color_gray_300;
	}

	&:not(:disabled):hover {
		background-color: $color_purple_700;
	}

	&:not(:disabled):active {
		background-color: $color_purple_800 !important;
		box-shadow: none !important;
	}

	&:not(:disabled):focus {
		box-shadow: 0 0 0 0.2rem $color_purple_900 inset;
		background-color: $color_purple_800;
	}
}

.secondary {
	box-shadow: 0 0 0 0.1rem $color_purple_600 inset;
	background-color: $color_white;
	color: $color_purple_700;

	&:disabled {
		background-color: $color_gray_300;
		color: $color_white;
	}

	&:not(:disabled):hover {
		box-shadow: 0 0 0 0.1rem $color_purple_700 inset;
		background-color: $color_purple_100;
		color: $color_purple_600;
	}

	&:not(:disabled):active {
		box-shadow: 0 0 0 0.1rem $color_purple_800 inset !important;
		color: $color_purple_600;
		background-color: $color_purple_100;
	}

	&:not(:disabled):focus {
		box-shadow: 0 0 0 0.1rem $color_purple_800 inset;
	}
}

.outlined {
	box-shadow: 0 0 0 0.1rem $color_gray_300 inset;
	background-color: $color_white;
	color: $color_gray_900;

	&:disabled {
		box-shadow: 0 0 0 0.1rem $color_gray_300 inset;
		background-color: $color_gray_300;
		color: $color_white;
	}

	&:not(:disabled):hover {
		box-shadow: 0 0 0 0.1rem $color_gray_300 inset;
		background-color: $color_gray_100;
	}

	&:not(:disabled):active {
		box-shadow: 0 0 0 0.1rem $color_gray_300 inset !important;
		background-color: $color_gray_100 !important;
	}

	&:not(:disabled):focus {
		box-shadow: 0 0 0 0.1rem $color_gray_500 inset;
		background-color: $color_white;
	}
}

.full {
	@include typo_18_bold;

	width: 100%;
	height: 5.6rem;
	padding: 0;
	border-radius: 1.2rem;
}

.xl {
	@include typo_18_bold;

	height: 5.6rem;
	padding-inline: 9.6rem;
	border-radius: 1.2rem;
	gap: 1.2rem;
}

.lg {
	@include typo_16_bold;

	height: 4rem;
	padding-inline: 2.4rem;
	border-radius: 0.6rem;
	gap: 0.8rem;
}

.md {
	@include typo_16_regular;

	height: 3.6rem;
	padding-inline: 1.6rem;
	border-radius: 0.6rem;
	// gap: 0.8rem;
}

.sm {
	@include typo_14_regular;

	height: 2.8rem;
	padding-inline: 0.8rem;
	border-radius: 0.6rem;
	gap: 0.4rem;
}

.icon {
	height: 3.6rem;
	aspect-ratio: 1/1;
	padding: 0.6rem;
	border-radius: 0.6rem;
}
