@use '@/assets/utilities.scss' as *;

.emojiReactionViewer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.3rem;
	@include tablet {
		gap: 1.5rem;
	}
	@include mobile {
		gap: 0.2rem;
	}
}

.emptyReaction {
	@include typo_18_bold;
}
