@import "../../../assets/variables";

$white: #fff;
$button-basic-padding: 14px 24px;
$button-small-padding: 7px 16px;
$button-basic-font-size: 18px;
$button-small-font-size: 16px;

button {
  cursor: pointer;
  border-radius: 12px;
  border: none;

  &.basic {
    padding: $button-basic-padding;
    font-size: $button-basic-font-size;
  }

  &.small {
    padding: $button-small-padding;
    font-size: $button-small-font-size;
  }

  &.enabled {
    background-color: $color_purple_600;
  }

  &.disabled {
    background-color: $color_gray_300;
  }

  &.hover {
    background-color: $color_purple_700;
  }

  &.pressed,
  &.focus {
    background-color: $color_purple_800;
  }

  &.focus {
    border: $color_purple_900;
  }

  div {
    color: var(--white, $white);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.16px;
  }
}