.container {
	width: 100%;
	max-width: 120.8rem;
	height: 100%;
	margin-inline: auto;
	padding-inline: $layout_safe_zone;
	padding-top: 5rem;
	padding-bottom: 13.6rem;

	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.cta {
	@include typo_16_bold;

	border: 0.1rem solid $color_gray_300;
	border-radius: 0.6rem;
	padding-inline: 1.6rem;
	padding-block: 0.8rem;
	color: $color_gray_900;
	background-color: $color_white;

	display: inline-flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1247px) {
	.container {
		padding-bottom: $layout_safe_zone;
	}
}

@media screen and (max-width: 767px) {
	.container {
		padding-top: 4rem;
	}
}
