@use '@/assets/utilities.scss' as *;

$height: 3.6rem;
$gap: 0.6rem;

.emojiPickerComponent {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
}

.emojiPicker {
	z-index: 1;
	position: absolute;
	right: -7.841rem;
	top: ($height + $gap);
}

.toggleButton {
	@include typo_16_regular;
	display: flex;
	flex-direction: row;
	gap: 0.4rem;
	align-items: center;
	border-radius: 0.6rem;
	border: 0.1rem solid $color_gray_300;
	background-color: $color_white;
	width: fit-content;
	height: $height;
	padding: 0.6rem 1.6rem;

	&:hover {
		background-color: $color_gray_100;
	}
}

.addIcon {
	width: 2.4rem;
	height: 2.4rem;
}

@include mobile {
	$height: 3.2rem;

	.toggleButton {
		width: 3.6rem;
		height: $height;
		padding: 0.6rem 0.8rem;
	}
	.emojiPicker {
		top: ($height + $gap);
	}
	.addText {
		display: none;
	}
}
