.badge {
	@include typo_16_regular;
	color: $color_white;

	height: 3.6rem;
	padding: 0.8rem 1.2rem;
	border-radius: 3.2rem;
	background-color: rgba(0, 0, 0, 0.54);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
}

.emoji {
	vertical-align: middle;
}
