@use '@/assets/utilities.scss' as *;

.postPageHeader {
	@include mobile {
		display: none;
	}
}

.postForm {
	width: 72rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	@include mobile {
		width: calc(100% - 4rem);
		margin: 0 2rem;
	}
}

.inputBox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.2rem;
	margin-top: 5.7rem;
}

.sendTo {
	@include typo_24_bold;
	border: none;
}

.textBox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.4rem;
	margin-top: 5rem;
}

.textBox > .title {
	@include typo_24_bold;
}

.textBox > .subTitle {
	@include typo_16_regular;
}

.toggleBox {
	display: flex;
	flex-direction: row;
	margin: 2.4rem 0;
}

._primary_ltbho_11 {
	margin: 10rem 0 6rem;
}
