.cardList {
	display: grid;
	grid-template-columns: repeat(3, minmax(20rem, 1fr));
	width: 120rem;
	margin: 0 auto;
	gap: 2.8rem 2.4rem;

	@media (max-width: 1248px) {
		width: calc(100% - 48px);
	}
}

.beige {
	background-color: $color_orange_200;
}

.purple {
	background-color: $color_purple_200;
}

.blue {
	background-color: $color_blue_200;
}

.green {
	background-color: $color_green_200;
}

@media only screen and (max-width: 1248px) and (min-width: 768px) {
	.cardList {
		width: 72rem;
		grid-template-columns: repeat(2, minmax(20rem, 1fr));
		gap: 1.6rem;
	}
}

@media only screen and (max-width: 767px) {
	.cardList {
		width: 32rem;
		grid-template-columns: minmax(20rem, 1fr);
		gap: 1.6rem;
	}
}
