@use '@/assets/utilities.scss' as *;

.cardList {
	@include tablet {
		width: calc(100% - 4.8rem);
	}

	@include tablet {
		grid-template-columns: repeat(2, minmax(20rem, 1fr));
		width: 72rem;
		gap: 1.6rem;
	}

	@include mobile {
		grid-template-columns: minmax(20rem, 1fr);
		width: 32rem;
		gap: 1.6rem;
	}

	display: grid;
	grid-template-columns: repeat(3, minmax(20rem, 1fr));
	width: 120rem;
	margin: 0 auto;
	gap: 2.8rem 2.4rem;
}

.beige {
	background-color: $color_orange_200;
}

.purple {
	background-color: $color_purple_200;
}

.blue {
	background-color: $color_blue_200;
}

.green {
	background-color: $color_green_200;
}

.buttonContainer {
	@include tablet {
		position: static;
	}

	position: relative;
	width: 120rem;
	margin: 0 auto;
}

.deleteButton {
	@include typo_16_regular;
	@include tablet {
		z-index: 1;
		position: fixed;
		top: auto;
		bottom: 2.4rem;
		left: 50%;
		width: 72rem;
		transform: translate(-50%, 0);
	}

	@include mobile {
		width: 32rem;
	}

	&:hover {
		background: $color_purple_700;
	}

	display: block;
	position: absolute;
	top: -6.2rem;
	right: 0;
	width: 9.2rem;
	padding: 0.7rem 1.6rem;
	border-radius: 0.6rem;
	background: $color_purple_600;
	color: $color_white;
	cursor: pointer;
}
