.color-select {
	display: flex;
	align-items: flex-start;
	gap: 1.6rem;
}

label {
	width: 16.8rem;
	height: 16.8rem;
	border-radius: 1.6rem;
	flex-shrink: 0;
	border: 0.1rem solid rgba(0, 0, 0, 0.08);
	cursor: pointer;
}

label > .check > svg {
	width: 4.4rem;
	height: 4.4rem;
	background: $color_gray_500;
	border-radius: 10rem;
	margin: 6.2rem;
	z-index: 1;
}

.orange svg {
	display: none;
}

.checked svg {
	display: block;
}

.orange {
	background: $color_orange_200;
}

form > button {
	margin-top: 10rem;
}

.toggle_box {
	display: flex;
	flex-direction: row;
}
