form {
	width: 72rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.inputBox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.2rem;
	margin-top: 5.7rem;
}

label {
	@include typo_24_bold;
}

.textBox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.4rem;
	margin-top: 5rem;
}

.textBox > h2 {
	@include typo_24_bold;
}

.textBox > p {
	@include typo_16_regular;
}

.color-select {
	display: flex;
	align-items: flex-start;
	gap: 1.6rem;
}

.color-box {
	width: 16.8rem;
	height: 16.8rem;
	flex-shrink: 0;
	border-radius: 1.6rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.08);
	cursor: pointer;

	&.orange {
		background: $color_orange_200;
	}

	&.purple {
		background: $color_purple_200;
	}

	&.blue {
		background: $color_blue_200;
	}

	&.green {
		background: $color_green_200;
	}
}

form > button {
	margin-top: 10rem;
}

.toggle_box {
	display: flex;
	flex-direction: row;
}