.input {
	display: block;
	width: 100%;
	padding: 1.2rem 1.6rem;
	border: 1px solid $color_gray_300;
	border-radius: 8px;
	background: $color_white;
	color: $color_gray_900;
	@include typo_16_regular;

	&::placeholder {
		color: $color_gray_500;
	}

	&:hover {
		border: 1px solid $color_gray_500;
	}

	&:focus {
		border: 2px solid $color_gray_500;
		outline: none;
	}
}

.input.disabled {
	border: 1px solid $color_gray_300;
	background: $color_gray_100;
	color: $color_gray_400;

	&::placeholder {
		color: $color_gray_400;
	}
}

.input.error {
	border: 1px solid $color_error;
}

.errorMessage {
	display: block;
	margin-top: 0.25rem;
	color: $color_error;
	@include typo_12_regular;
}
