@use '@/assets/utilities.scss' as *;

.container {
	@include tablet {
		padding-top: 9.2rem;
		padding-bottom: 9.1rem;
	}

	@include mobile {
		padding-top: 2.4rem;
		padding-bottom: 3.2rem;
	}

	min-height: calc(100vh - $layout_global_header_height - 6.8rem);

	@include mobile {
		min-height: calc(100vh - 5.2rem - 5.2rem);
	}
	padding-top: 11.3rem;
	padding-bottom: 21.8rem;
	background-attachment: fixed;
	background-size: cover;
}

@include mobile {
	.global_header {
		display: none;
	}
}
