.container {
	background-color: $color_orange_200;
	padding-top: 11.3rem;
	padding-bottom: 21.8rem;
	min-height: calc(100vh - 6.4rem);

	@media only screen and (max-width: 1248px) and (min-width: 768px) {
		padding-top: 9.2rem;
		padding-bottom: 9.1rem;
	}

	@media only screen and (max-width: 767px) {
		padding-top: 2.4rem;
		padding-bottom: 3.2rem;
	}
}
