.link {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	max-width: 38.4rem;
	max-height: 28rem;
	border-radius: 1.6rem;
	background-color: $color_white;
	aspect-ratio: 384/280;
	cursor: pointer;

	@media only screen and (max-width: 1248px) and (min-width: 768px) {
		max-width: 35.2rem;
		max-height: 28.4rem;
	}

	@media only screen and (max-width: 767px) {
		max-width: 32rem;
		max-height: 23rem;
	}
}

.newMessageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.linkToNewMessage {
	display: block;
	width: 5.6rem;
	height: 5.6rem;
	padding: 1.6rem;
	border-radius: 99rem;
	background-color: $color_gray_500;
}

.newMessage {
	width: 2.4rem;
	height: 2.4rem;
}

.cardTitle {
	display: flex;
	position: relative;
	max-width: 38.4rem;
	max-height: 10rem;
	padding: 2.8rem 2.4rem 1.5rem;
	aspect-ratio: 384/100;
	gap: 1.4rem;
}

.cardTitle::after {
	position: absolute;
	bottom: 0;
	width: 33.6rem;
	border-bottom: 0.1rem solid $color_gray_200;
	content: '';

	@media only screen and (max-width: 1248px) and (min-width: 768px) {
		width: 30.4rem;
	}

	@media only screen and (max-width: 767px) {
		width: 27.2rem;
	}
}

.thumbnail {
	width: 5.6rem;
	height: 5.6rem;
	border-radius: 99rem;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.from {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	@include typo_20_regular;
}

.sender {
	@include typo_20_bold;
}

.deleteButton {
	margin-left: 1.7rem;
	border-radius: 6px;
	border: 1px solid $color_gray_300;
	background: $color_white;
	padding: 0.8rem;
	width: 4rem;
	height: 4rem;
}

.deleteIcon {
	width: 2.4rem;
	height: 2.4rem;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 9.9rem);
	padding: 1.6rem 2.4rem 2.4rem;
	gap: 1.6rem;
}

.content {
	display: -webkit-box;
	overflow: hidden;
	color: $color_gray_600;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	@include typo_18_regular;

	@media only screen and (max-width: 1248px) {
		-webkit-line-clamp: 2;
	}
}

.createdAt {
	color: $color_gray_400;
	@include typo_12_regular;
}
