@mixin svg_stroke {
	stroke: currentColor;
	& * {
		stroke: currentColor;
	}
}

@mixin svg_fill {
	fill: currentColor;
	& * {
		fill: currentColor;
	}
}

@mixin line_clamp($line: 1) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
}
