@use '@/assets/variables.scss' as *;

@mixin svg_stroke {
	stroke: currentColor;
	& * {
		stroke: currentColor;
	}
}

@mixin svg_fill {
	fill: currentColor;
	& * {
		fill: currentColor;
	}
}

@mixin line_clamp($line: 1) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
}

@mixin scrollbar_hide {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@mixin drag_ban {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin mobile {
	@media (max-width: #{$media_tablet - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$media_desktop - 1px}) {
		@content;
	}
}
