@layer typography {
	@mixin _28_bold {
		font-family: Pretendard;
		font-size: 28rem;
		font-style: normal;
		font-weight: 700;
		line-height: 42rem;
		letter-spacing: -0.28rem;
	}
	@mixin _24_bold {
		font-family: Pretendard;
		font-size: 24rem;
		font-style: normal;
		font-weight: 700;
		line-height: 36rem;
		letter-spacing: -0.24rem;
	}
	@mixin _24_regular {
		font-family: Pretendard;
		font-size: 24rem;
		font-style: normal;
		font-weight: 400;
		line-height: 36rem;
		letter-spacing: -0.24rem;
	}
	@mixin _20_bold {
		font-family: Pretendard;
		font-size: 20rem;
		font-style: normal;
		font-weight: 700;
		line-height: 30rem;
		letter-spacing: -0.2rem;
	}
	@mixin _20_regular {
		font-family: Pretendard;
		font-size: 20rem;
		font-style: normal;
		font-weight: 400;
		line-height: 30rem;
		letter-spacing: -0.2rem;
	}
	@mixin _18_bold {
		font-family: Pretendard;
		font-size: 18rem;
		font-style: normal;
		font-weight: 700;
		line-height: 28rem;
		letter-spacing: -0.18rem;
	}
	@mixin _18_regular {
		font-family: Pretendard;
		font-size: 18rem;
		font-style: normal;
		font-weight: 400;
		line-height: 28rem;
		letter-spacing: -0.18rem;
	}
	@mixin _16_bold {
		font-family: Pretendard;
		font-size: 16rem;
		font-style: normal;
		font-weight: 700;
		line-height: 26rem;
		letter-spacing: -0.16rem;
	}
	@mixin _16_regular {
		font-family: Pretendard;
		font-size: 16rem;
		font-style: normal;
		font-weight: 400;
		line-height: 26rem;
		letter-spacing: -0.16rem;
	}
	@mixin _15_bold {
		font-family: Pretendard;
		font-size: 15rem;
		font-style: normal;
		font-weight: 700;
		line-height: 22rem;
		letter-spacing: -0.15rem;
	}
	@mixin _15_regular {
		font-family: Pretendard;
		font-size: 15rem;
		font-style: normal;
		font-weight: 400;
		line-height: 22rem;
		letter-spacing: -0.15rem;
	}
	@mixin _14_bold {
		font-family: Pretendard;
		font-size: 14rem;
		font-style: normal;
		font-weight: 700;
		line-height: 20rem;
		letter-spacing: -0.07rem;
	}
	@mixin _14_regular {
		font-family: Pretendard;
		font-size: 14rem;
		font-style: normal;
		font-weight: 400;
		line-height: 20rem;
		letter-spacing: -0.07rem;
	}
	@mixin _12_regular {
		font-family: Pretendard;
		font-size: 12rem;
		font-style: normal;
		font-weight: 400;
		line-height: 18rem;
		letter-spacing: -0.06rem;
	}
}

@layer color {
	$purple-100: #f8f0ff;
	$purple-200: #ecd9ff;
	$purple-300: #dcb9ff;
	$purple-400: #c894fd;
	$purple-500: #ab57ff;
	$purple-600: #9935ff;
	$purple-700: #861dee;
	$purple-800: #6e0ad1;
	$purple-900: #5603a7;

	$orange-100: #fff0d6;
	$orange-200: #ffe2ad;
	$orange-300: #ffc583;
	$orange-400: #ffae65;
	$orange-500: #ff8832;

	$blue-100: #e2f5ff;
	$blue-200: #b1e4ff;
	$blue-300: #7cd2ff;
	$blue-400: #34b9ff;
	$blue-500: #00a2fe;

	$green-100: #e4fbdc;
	$green-200: #d0f5c3;
	$green-300: #9be282;
	$green-400: #60cf37;
	$green-500: #2ba600;

	$gray-100: #f6f6f6;
	$gray-200: #eee;
	$gray-300: #ccc;
	$gray-400: #999;
	$gray-500: #555;
	$gray-600: #4a4a4a;
	$gray-700: #3a3a3a;
	$gray-800: #2b2b2b;
	$gray-900: #181818;

	$white: #fff;
	$black: #000;
	$error: #dc3a3a;
	$surface: #f6f8ff;
}
