.imageSelectLabel {
	width: 5.6rem;
	height: 5.6rem;
	border-radius: 10rem;
	border: 0.1rem solid $color_gray_200;
	background-size: cover;
	cursor: pointer;
}

.selected {
	width: 8rem;
	height: 8rem;
	border-radius: 10rem;
	margin-top: 4rem;
}

.selectImage {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.imageText {
	color: $color_gray_500;
	@include typo_16_regular;
}

.images {
	display: flex;
	flex-direction: row;
	gap: 1.2rem;
	margin-top: 1.2rem;
}

.profileImageBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3.2rem;
}
