@use '@/assets/utilities.scss' as *;

.textEditor {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	gap: 1.2rem;
}

.quill {
	width: 72rem;
	height: 26rem;
	@include tablet {
		width: 100%;
		min-width: 32rem;
	}
}

.sectionTitle {
	@include typo_24_bold;
}
